{% extends 'base.html.twig' %}

{% block title %} Error {% endblock %}

{% block css %} 

{% endblock %}

{% block body %}

Te has equivocado mas de 3 veces
<a class="nav-link" href="{{ path('inicio') }}">Volver al inicio</a>
{% endblock %}

{% block js %}
    
{% endblock %}