
{% extends 'base.html.twig' %}

{% block title %} footer {% endblock %}

{% block css %}

{% endblock %}

{% block body %}

<br>
<br>
<br>
<br>
<br>
<br>
<footer class="special-color-dark mt-5">



  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <img src="../imagenes/blanco.png" class="mt-1" style="height:100px;width:100px;" alt="">
  </div>
  <!-- Copyright -->

</footer>





{% endblock %}

{% block js %}
	
{% endblock %}